{% extends "base.html" %}

{% block body %}

    <div id="top-nav" class="skin-6 fixed" style="background-color: #323447;">
			<a href="{% url 'index' %}">
                <div class="brand">
                    <span>LaunchMama</span>
                </div><!-- /brand -->
            </a>
			<button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav-notification clearfix">
				<li class="profile dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<strong>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</strong>
						<span><i class="fa fa-chevron-down"></i></span>
					</a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" class="main-link logoutConfirm_open" href="{% url 'do_logout' %}" ><i class="fa fa-lock fa-lg"></i> Log out</a></li>
					</ul>
				</li>
			</ul>
		</div>

        <br>
        <br>
    <!--<div class="main-header clearfix">-->
            <!--<div class="page-title">-->
                <!--<h3 class="no-margin">Dashboard</h3>-->
                <!--<span>Welcome back, {{ request.user.first_name }}</span>-->
            <!--</div>&lt;!&ndash; /page-title &ndash;&gt;-->

            <!--<ul class="page-stats">-->
                <!--<li>-->
                    <!--<div class="value">-->
                        <!--<span>Number of installs</span>-->
                        <!--<h4 id="currentVisitor">56</h4>-->
                    <!--</div>-->
                    <!--<span id="visits" class="sparkline"><canvas width="79" height="35" style="display: inline-block; width: 79px; height: 35px; vertical-align: top;"></canvas></span>-->
                <!--</li>-->
            <!--</ul>&lt;!&ndash; /page-stats &ndash;&gt;-->
        <!--</div>-->
        <div class="container" style="margin-top: 30px;">

            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    <div class="page-title">
                        <h3 class="no-margin">Welcome back, {{ request.user.first_name }}</h3>
                        <!--<span>Welcome back, {{ request.user.first_name }}</span>-->
                    </div><!-- /page-title -->
                </div>
                <div class="panel-body">

                    <p style="font-size: 14px;">We are tied up with the following venues. Choose your favorite ones !!   </p>

                    <table class="table table-striped" id="responsiveTable">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>Offer</th>
                                <th>Units</th>
                                <th>Total cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offer_list %}
                                <tr>
                                    <td>
                                        <label class="label-checkbox">
                                            <input type="checkbox" class="chk-row" id="{{ offer.id }}" data-total-cost="{{ offer.total_cost }}"
                                                    data-offer-id="{{ offer.id }}">
                                            <span class="custom-checkbox"></span>
                                        </label>
                                    </td>
                                    <td>{{ offer.name }}</td>
                                    <td>{{ offer.free_units }}</td>
                                    <td>{{ offer.total_cost }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <p style="font-size: 16px;">Not interested with any of the above offers??</p>

                    <label class="label-checkbox" style="font-size: 14px;">
                        <input type="checkbox" id="custom_offer">
                        <span class="custom-checkbox"></span>
                        Never mind. Select this option to arrange your custom swags by paying Rs. 1000 only.
                    </label>
                    <br>

                    <div style="font-size: 20px; padding-left: 20px;">
                        <p>Total amount: <span id="total_amount">0</span></p>
                    </div>

                    <button class="btn btn-success" style="margin-left: 20px;" id="make_payment" >Make Payment</button>

                </div>



            </div>
        </div>

    {% block extra_js %}
        <script type="text/javascript">
            $(document).ready(function(){
                var str_offer_id = "";
                $("#make_payment").on("click", function(e) {
                    $(this).html("Processing...");

                    $('.chk-row').each(function() {
                        if($(this).is(":checked")) {
                            console.log("Selected");
                            if(str_offer_id == "") {
                                str_offer_id = $(this).attr("data-offer-id");
                            }
                            else {
                                str_offer_id = str_offer_id + "," + $(this).attr("data-offer-id");
                            }
                        }
                    });

                    dataparams = {};
                    dataparams["csrfmiddlewaretoken"] = "{{ csrf_token }}";
                    dataparams["total_amount"] = $("#total_amount").html();
                    dataparams["str_offer_id"] = str_offer_id;
                    $.ajax({
                        type: "POST",
                        url: "{% url 'make_payment' %}",
                        async:false,
                        data:dataparams ,
                        dataType: "json",
                        cache: false,
                        success: function (data) {
                            var payment_success_url = "{% url 'payment_success' 12345 %}";
                            payment_success_url = payment_success_url.replace(/12345/, data);
                            location.href = payment_success_url;
                        },
                        error: function (jqXHR, exception) {
                            console.log(exception);
                        }
                    });
                });

                $(".chk-row").on("change", function(event) {
                    var total_amount = 0;
                    $('.chk-row').each(function() {
                        if($(this).is(":checked")) {
                            // console.log($(this).attr("data-total-cost"));
                            total_amount = parseInt(total_amount)  + parseInt($(this).attr("data-total-cost"));
                        }
                        $("#total_amount").html(total_amount);
                    });
                });

                $("#custom_offer").on("click", function(event) {
                    str_offer_id = "-1";
                    $("#total_amount").html("1000");
                });

            });
        </script>
    {% endblock %}


{% endblock %}

