{% extends "base.html" %}

{% block body %}

<div id="top-nav" class="skin-6 fixed" style="background-color: #323447;">
    <a href="{% url 'index' %}">
        <div class="brand">
            <span>LaunchMama</span>
        </div><!-- /brand -->
    </a>
    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="nav-notification clearfix">
        <li class="profile dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <strong>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</strong>
                <span><i class="fa fa-chevron-down"></i></span>
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" class="main-link logoutConfirm_open" href="{% url 'do_logout' %}" ><i class="fa fa-lock fa-lg"></i> Log out</a></li>
            </ul>
        </li>
    </ul>
</div>

<br>
<br>

<div class="container">
    <h3 class="headline m-top-md">
        Payment Successful
        <span class="line"></span>
    </h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Please note down the API mentioned and use it in your app. Best of luck !!</h4>
        </div>
        <div class="panel-body">
            <h3>{{ user_api_details.api_key }}</h3>
        </div>
    </div>

    <div class="panel panel-default fadeInDown animation-delay3">
        <div class="panel-heading" style="font-weight: bold; font-size: 15px;">
            Steps to incorporate LaunchMama to your app
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <p>Click on "Download iOS Libraries" and download the iOS files required.</p>
            </li>
            <li class="list-group-item">
                <p>Drag and drop files to your iOS project</p>
            </li>
            <li class="list-group-item">
                <p>Add the following constants in your prefix headers</p>
                <small class="block text-muted">
                    #define LM_BASE_URL @"http://52.2.92.136"<br>
                    #define LM_API_KEY {{ user_api_details.api_key }}
                </small>
            </li>
        </ul><!-- /list-group -->
    </div>

    <a class="btn btn-success quick-btn" href="/site_media/media/ios_lib.zip">
        <i></i><span>Download iOS Libraries</span></a>

    <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>

</div>

{% endblock %}