{% extends "base.html" %}

{% block body %}

<div class="container">
    <h3 class="headline m-top-md">
        Payment Successful
        <span class="line"></span>
    </h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Please note down the API mentioned and use it in your app. Best of luck !!</h4>
        </div>
        <div class="panel-body">
            <h3>{{ user_api_details.api_key }}</h3>
        </div>
    </div>

    <div class="panel panel-default fadeInDown animation-delay3">
        <div class="panel-heading" style="font-weight: bold; font-size: 15px;">
            Steps to incorporate LaunchMama to your app
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <p>Click on "Download iOS Libraries" and download the iOS files required.</p>
            </li>
            <li class="list-group-item">
                <p>Drag and drop files to your iOS project</p>
            </li>
            <li class="list-group-item">
                <p>Add the following constants in your prefix headers</p>
                <small class="block text-muted">
                    #define LM_BASE_URL @"http://52.2.92.136"<br>
                    #define LM_API_KEY {{ user_api_details.api_key }}
                </small>
            </li>
        </ul><!-- /list-group -->
    </div>

    <a class="btn btn-success quick-btn" href="/site_media/media/ios_lib.zip">
        <i></i><span>Download iOS Libraries</span></a>

    <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>

</div>

{% endblock %}